 
 
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>List of Available Maids</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let maid of maidList ">
           <td> <img src="{{maid.imgUrl}}" style="height: 50px; width: 50px;"> </td> 
            <td>{{maid.firstName}}</td>
            <td>{{maid.lastName}}</td>
            <td>{{maid.email}}</td>
            <td>{{maid.phone}}</td>
            <td>
                <button (click)="onDeleteMaid(maid)" class="btn btn-success" >Delete</button>
                <button (click)="onUpdateMaid(maid)" class="btn btn-danger" style="margin-left: 10px" >Update</button> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>