<section class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Maid Management</h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-bordered table-striped">
        <thead class="bg-primary text-white">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="(maidList | async)">
          <tr *ngFor="let maid of maidList | async">
            <td> <img src="{{maid.imgUrl}}" style="height: 50px; width: 50px;"> </td>
            <td>{{maid.firstName}}</td>
            <td>{{maid.lastName}}</td>
            <td>{{maid.email}}</td>
            <td>{{maid.phone}}</td>
            <td>
              <button (click)="rejectMaid(maid.id)" class="btn btn-success">Accept</button>
              <button (click)="onRejectMaid(maid.id)" class="btn btn-danger" style="margin-left: 10px">Reject</button>
              <button (click)="MaidDetails(maid.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!(maidList | async)">
          <div class="alert alert-info">No Maid Available</div>
        </tbody>
      </table>
    </div>
  </div>

</section>
