<section class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Maid Management</h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-bordered table-striped">
        <thead class="bg-primary text-white">
          <tr>
            <th>Image</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngIf="maidList">
          <tr *ngFor="let maid of maidList">
            <td> <img src="{{maid.imgUrl}}" style="height: 50px; width: 50px;"> </td>
            <td>{{maid.firstName}}</td>
            <td>{{maid.lastName}}</td>
            <td>{{maid.email}}</td>
            <td>{{maid.phone}}</td>
            <td>
            <p>   
             {{(maid._isActive)?"Active":"InActive"}}<p> 
            </td>
            <td>
                <button (click)="onDeleteMaid(maid)" class="btn btn-success" >Delete</button>
                <button (click)="onUpdateMaid(maid)" class="btn btn-danger" style="margin-left: 10px" >Update</button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!maidList">
          <tr>
            <td colspan="6">
              <div class="alert alert-info">No Maid Available!!!</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
