// --------------------------------------------------------------------------------------
// This file should include variable overrides as well as custom variables
//
// we've included a subset of common bootstrap variables you might want to override
// to start you off. want to see the full list of bootstrap variables? 
// check out node_modules/bootstrap/variables.scss
// --------------------------------------------------------------------------------------

$MaidPortal:   rgb(46, 75, 139);
// $blue:    #007bff;
// $indigo:  #6610f2;
// $purple:  #6f42c1;
// $pink:    #e83e8c;
// $red:     #dc3545;
// $orange:  #fd7e14;
// $yellow:  #ffc107;
// $green:   #28a745;
// $teal:    #20c997;
// $cyan:    #17a2b8;

// $white:    #fff;
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
// $black:    #000;
// $night-rider: #343434;

// $primary:       $MaidPortal;
// $secondary:     $night-rider;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;


// --------------------------------------------------------------------------------------
// This file should include variable overrides as well as custom variables
//
// we've included a subset of common bootstrap variables you might want to override
// to start you off. want to see the full list of bootstrap variables? 
// check out node_modules/bootstrap/variables.scss
// --------------------------------------------------------------------------------------



$MaidPortal:          #2e4b8b;
$MaidPortal-300:       #8ba7e5;
$blue:          #283C7C;
$indigo:        #6610f2 !default;
$purple:        #541763;
$purple-300:    #A180A9;
$pink:          #e83e8c !default;
$red:           #C3003F;
$orange:        #CD5B24;
$yellow:        #E3A51A;
$green:         #28a745 !default;
$teal:          #20c997 !default;
$cyan:          #5AC9E4;
$cyan-700:      #214A53;

$white:         #fff !default;
$gray-100:      #f8f9fa !default;
$gray-200:      #e9ecef !default;
$gray-300:      #dee2e6 !default;
$gray-400:      #ced4da !default;
$gray-500:      #adb5bd !default;
$gray-600:      #6c757d !default;
$gray-700:      #495057 !default;
$gray-800:      #343a40 !default;
$gray-900:      #212529 !default;
$black:         #000 !default;

$theme-colors: (
    'purple': $MaidPortal,
    'purple-300': $MaidPortal-300,
    'cyan-700': $cyan-700,
    'cyan': $cyan,
    'white': $white
);

// $theme-colors: (
//     'purple': $purple,
//     'purple-300': $purple-300,
//     'cyan-700': $cyan-700,
//     'cyan': $cyan,
//     'white': $white
// );

$primary:       $MaidPortal;
$secondary:     $gray-500;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,700'); // Avenir Alternative
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700'); // Brandon Grotesque Alternative


$font-family-sans-serif:      'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  $font-size-base: 1rem ; // Assumes the browser default, typically `16px`
  $headings-font-family:  'Josefin Sans', $font-family-sans-serif;