<nav class="navbar navbar-expand-lg navbar-light bg-white border-fancy shadow" *ngIf="showHeader()">
  <div class="container-fluid">
    <!-- Mobile Menu Toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-label="Toggle navigation" [attr.aria-expanded]="!isCollapsed"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navbar Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ show: !isCollapsed }">
      <a class="navbar-brand" routerLink="/home">
        <!-- <div>
          <img style="width: 135px; height: 27px;"
               src="assets/logo.png">
        </div> -->
        <span class="d-none d-md-inline text-primary">{{appConfig.appname}}</span>
        <!-- <span class="d-md-none">OCS</span> -->
      </a>

      <!-- <a class="navbar-brand"
         routerLink="/home">
        <img class="img-fluid"
             width="100"
             src="assets/logo.png"
             alt="{{ appConfig.appname }}" />
      </a> -->

      <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">
            Home
          </a>
        </li>
        <li class="nav-item nav-button">
          <div class="dropdown">
            <button class="dropbtn nav-link">
              Maid
              <fa-icon class="ml-2" [icon]="faCaretDown"></fa-icon>
            </button>
            <div class="dropdown-content" style="z-index:15 !important">
              <a class="dropdown-item nav-link" routerLink="/maids">
                Browse Maid
              </a>
              <a class="dropdown-item nav-link" routerLink="/admin/massorder">
                something here
              </a>
            </div>
          </div>
        </li>

        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/quick-facts-search">
            Quick Facts Search
          </a>
        </li> -->

        <li class="nav-item nav-button">
          <div class="dropdown">
            <button class="dropbtn nav-link">
              Admin
              <fa-icon class="ml-2" [icon]="faCaretDown"></fa-icon>
            </button>
            <div class="dropdown-content" style="z-index:15 !important">
              <a class="dropdown-item nav-link" routerLink="/admin/massorder">
                Customer Management
              </a>
              <a class="dropdown-item nav-link" routerLink="/admin/impersonate">
                Maid Management
              </a>
              <a class="dropdown-item nav-link" routerLink="/admin/localconvention">
                Salary Management
              </a>
              <a class="dropdown-item nav-link" routerLink="/admin/safetystock">
                Subscription Management
              </a>
            </div>
          </div>
        </li>
      </ul>
      <div class="form-inline" *ngIf="!isLoggedIn">
        <a class="btn btn-sm btn-outline-dark" routerLink="/login">Login</a>
        <a class="btn btn-sm btn-primary d-none d-sm-block ml-2" routerLink="/register">Register</a>
      </div>
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
          <!-- <div class="nav-link dropdown-toggle text-nowrap"
               id="account-dropdown"
               routerLinkActive="active"
               ngbDropdownToggle>
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span class="d-none d-md-inline">
              Account
              <fa-icon class="ml-2"
                       [icon]="faCaretDown"></fa-icon>
            </span>
          </div> -->
          <div class="nav-link text-primary dropdown-toggle text-nowrap" id="account-dropdown" routerLinkActive="active"
            ngbDropdownToggle>
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span class="d-none d-md-inline" style="cursor: pointer !important;">
              Hi,{{ (user$ | async)?.firstName }}
              <fa-icon class="ml-2" [icon]="faCaretDown"></fa-icon>
            </span>
          </div>
          <div class="dropdown-menu p-0" aria-labelledby="account-dropdown" ngbDropdownMenu>
            <button class="dropdown-item" routerLinkActive="active" routerLink="/profile/details">
              <small>My Profile</small>
            </button>
            <button class="dropdown-item" routerLinkActive="active" routerLink="/profile/orders">
              <small>Subscription History</small>
            </button>
            <button class="dropdown-item" routerLinkActive="active" routerLink="/profile/addresses">
              <small>Address</small>
            </button>
            <button *ngIf="showHelp" class="dropdown-item" routerLinkActive="active" routerLink="help">
              <small>Help</small>
            </button>
            <button class="dropdown-item" (click)="logout()" href="/login">
              <fa-icon [icon]="faSignOutAlt"></fa-icon> <small>Logout</small>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand navbar-light bg-light border-fancy shadow p-0" *ngIf="showHeader()">
  <div class="container">
  </div>
</nav> -->
