<h1 class="display-4">{{appConfig.appname}}</h1>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="firstName" autofocus="true"
        required [(ngModel)]="maid.firstName" name="firstName" />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="lastName" autofocus="true"
        required [(ngModel)]="maid.lastName" name="lastName" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="email" autofocus="true"
        required [(ngModel)]="maid.email" name="email" />
    </div>
    <div class="form-group">
        <label for="phone">phone</label>
        <input type="text" class="form-control" id="phone" placeholder="phone" autofocus="true"
        required [(ngModel)]="maid.phone" name="phone" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" placeholder="password" autofocus="true"
        required [(ngModel)]="maid.password" name="password" />
    </div>
    <div class="form-group">
        <label for="aadharCardNo">Adhar Card No.</label>
        <input type="text" class="form-control" id="aadharCardNo" placeholder="aadharCardNo" autofocus="true"
        required [(ngModel)]="maid.aadharCardNo" name="aadharCardNo" />
    </div>
    <div class="form-group">
        <label for="salary">salary</label>
        <input type="text" class="form-control" id="salary" placeholder="salary" autofocus="true"
        required [(ngModel)]="maid.salary" name="salary" />
    </div>
    <div class="form-group">
        <label for="dateCreated">dateCreated</label>
        <input type="date" class="form-control" id="dateCreated" placeholder="dateCreated" autofocus="true"
        required [(ngModel)]="maid.dateCreated" name="dateCreated" />
    </div>
    <div class="form-group">
        <label for="maritalStatus">Maritual Status</label>
       <select class="form-control" name="maritalStatus" id="maritalStatus" name="maritalStatus" id="maritalStatus" value="maid.dateCreated">
        <option value="SINGLE" >Single</option>
        <option value="MARRIED">Married</option>
        <option value="WIDOWED">Widowed</option>
        </select>
    </div>
    <div class="form-group">
        <label for="salary">salary</label>
        <input type="number" class="form-control" id="salary" placeholder="salary" autofocus="true"
        required [(ngModel)]="maid.salary" name="salaryList" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>









 