
<nav class="navbar navbar-expand-lg navbar-light border-bottom bg-light">
    <div class="container px-3">
  
      <!-- Mobile Menu Toggle -->
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible Navbar Menu -->
      <div class="collapse navbar-collapse"
           id="navbarSupportedContent"
           [ngClass]="{'show': !isCollapsed}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link navbar-brand"
               routerLink="/home">{{ appConfig.appname }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/Home">
              <fa-icon [icon]="faBoxOpen"></fa-icon> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/serving-maids">
              <fa-icon [icon]="faSitemap"></fa-icon> Serving Maids
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/attendance">
              <fa-icon [icon]="faMapMarker"></fa-icon> Attendance
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/notifications">
              <fa-icon [icon]="faUser"></fa-icon> Notifications
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/payment-history">
              <fa-icon [icon]="faUsers"></fa-icon> Payment History
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/about-us">
              <fa-icon [icon]="faUsers"></fa-icon> About us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/edit-profile">
              <fa-icon [icon]="faUser"></fa-icon> Edit Profile
            </a>
          </li>
        </ul>
        <ul class="navbar-nav float-right">
          <li class="nav-item pull-right">
            <a class="nav-link"
               routerLink="/login"
               (click)="logout()">
              <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>