
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 id="h">Address</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>AddressName</th>
                    <th>Email</th>
                    <th>BuildingName</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Pin</th>
                    <th>Country</th>
                    <th>Phone</th>
                    <th>DateCreated</th>
                    <th>_IsActive</th>

                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let addr of address"> -->
                     <tr>
                    <td>{{addr.firstName}}</td>
                    <td>{{addr.lastName}}</td>
                    <td>{{addr.addressName}}</td>
                    <td>{{addr.email}}</td>
                    <td>{{addr.buildingName}}</td>
                    <td>{{addr.street}}</td>
                    <td>{{addr.city}}</td>
                    <td>{{addr.state}}</td>
                    <td>{{addr.pin}}</td>
                    <td>{{addr.country}}</td>
                    <td>{{addr.phone}}</td>
                    <td>{{addr.dateCreated}}</td>
                    <td>{{addr._isActive}}</td>
                    <!--<td><button (click)="deleteAddress(customer.id)">Delete</button></td>
                    <td><button (click)="updateCustomer(customer.id)">Update</button></td>-->
                 
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  

  