<div class="container mt-4">
in announcement component
    <div *ngIf="showAnnouncements" class="row">
      <div class="col-8">
        <h1>Announcements</h1>
      </div>
      <div class="col-4">
        <button class="btn btn-primary float-right mt-3" (click)="openCreateModal()">
          <fa-icon [icon]="faPlusCircle"></fa-icon> New
        </button>
      </div>
      <div class="col-lg-12 alert alert-warning " *ngIf="!buyer?.xp?.announcements?.length">No Announcements</div>
    </div>
  
    <div class="row mt-4" *ngIf="buyer?.xp?.announcements?.length">
      <table class="table table-sm table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Announcement</th>
            <th>Order</th>
            <th>Display On</th>
            <th>Expires On </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let announcementItem of buyer?.xp?.announcements; index as i">
            <td><u><a style="cursor: pointer;" (click)="openEditModal(i)">{{ announcementItem.title }}</a></u>
  
            </td>
            <td>{{ announcementItem.order }}</td>
            <td>{{ announcementItem.StartDate?(announcementItem.StartDate |  date: 'MM/dd/yyyy'):'NA' }}</td>
            <td>{{ announcementItem.ExpiryDate?(announcementItem.ExpiryDate |  date: 'MM/dd/yyyy'):'NA' }}
            </td>
            <td>
              <button (click)="confirmDeleteAnnouncement(i, announcementItem.title)" class="btn btn-danger btn-xs m-2">
                <fa-icon [icon]="faTrash"></fa-icon>
                <span class="hidden-xs"> Delete</span>
              </button>
  
              <button (click)="openEditModal(i)" class="btn btn-primary btn-xs m-2">
                <fa-icon [icon]="faPencilAlt"></fa-icon>
                <span class="hidden-xs"> Edit</span>
              </button>
  
            </td>
          </tr>
        </tbody>
      </table>
  
  
    </div>
  
  </div>
  
  
  <!-- <shared-modal id="{{ createModalID }}" modalTitle="Create New Announcement">
    <app-announcement-form btnText="Create" (announcementSubmitted)="addNewAnnouncement($event)">
    </app-announcement-form>
  </shared-modal>
  <shared-modal id="{{ editModalID }}" modalTitle="Update Announcement">
    <app-announcement-form btnText="Save" [announcement]="selectedAnnouncement"
      (announcementSubmitted)="saveEditedAnnouncement($event)">
    </app-announcement-form>
  </shared-modal>
  <shared-modal id="{{confirmModalID }}" modalTitle="Confirm Delete">
    <confirm-action [message]="message" (afterconfirm)="afterconfirm($event)">
    </confirm-action>
  </shared-modal> -->