<div style="width:80%;margin: 0 auto;" class="jumbotron jumbotron-fluid">
  <div class="container">
  </div>
</div>

<br>

<div style="width:80%;margin: 0 auto;" *ngIf="announcements?.length > 0">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let announcement of announcements">
      <div class="announcementBody">
        <div class="carousel-caption">
          <fa-icon class="pr-3" [icon]="faBullhorn"></fa-icon>
          <p class="mb-1">
            {{ announcement.title.substr(0, 90)}}<span *ngIf="announcement.title.length > 90">...</span>
          </p>
          <button *ngIf="announcement.title.length > 90" (click)="viewAnnouncement(announcement.title)"
            class="btn btn-sm text-white btn-info">View More</button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="container-fluid mt-4">

  <div style="width:80%; height: 80%; margin: 0 auto;" class="row" *ngIf="carouselSlides?.length > 0">
    <div class="col-md-12">
      <ngb-carousel *ngIf="carouselSlides?.length != 0">
        <ng-template ngbSlide *ngFor="let slide of carouselSlides">
          <img class="img-fluid" style="width:100%;" [src]="slide.URL" alt="Random first slide" />
          <div class="carousel-caption">
            <h3>{{ slide.headerText }}</h3>
            <p>{{ slide.bodyText }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div style="width:80%;margin: 0 auto;" *ngIf="products?.length == 0">
    <!-- <div class="col-md-12"> -->
      <!-- Carousel slides can be managed in the seller application -->
      <ngb-carousel *ngIf="buyer?.xp?.carouselSlides?.length != 0">
        <ng-template ngbSlide *ngFor="let slide of buyer.xp.carouselSlides">
          <img class="img-fluid" style="width:100%;" [src]="slide.URL" alt="Random first slide" />
          <div class="carousel-caption">
            <h3>{{ slide.headerText }}</h3>
            <p>{{ slide.bodyText }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    <!-- </div> -->
  </div>

  <br />
  <div style="width:80%;margin: 0 auto;" class="bg-white p-5">
    <div class="row mt-2">
      <div class="col-md-12 col-sm-12">
        <div>
          <h4 class="text-primary">
            Welcome
          </h4>
          <p>Welcome to the Maid Service Portal.</p>
          <br />
          <p>
            Please confirm your phone number and address are updated and accurate to ensure proper Service.
          </p>
          <br />
          <span> <u>MaidPortal Admins</u>, please see below steps: </span>
          <ul>
            <li>Phone number: Updated in Success Factors</li>
            <li>Home and Mailing address: Updated in Success Factors</li>
            <li>
              Shipping address changes: Updated via the “Shipping Address –
              Change form” located on MyShop
            </li>
            <li>
              Sampling reps: a “Sample Storage & Inspection form” must be
              submitted for all storage address changes. This form is located on
              the Archway site via:
            </li>
            <ul>
              <li>Orders->Sample Accountability Form</li>
              <li>
                Email At : exabytes.js@mgial.com
              </li>
            </ul>
          </ul>
          <br />
          <u>Ashfield reps</u>, notify your CAC team of all changes: phone,
          home, shipping, mailing and storage addresses.
          <br />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus assumenda, sit enim quia illum aspernatur
            voluptatibus a, recusandae ad placeat, similique libero. Molestiae ipsam quia doloremque at consequuntur
            dicta odio.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<shared-modal id="announcementModal"
              modalTitle="Announcement">
  <div>
    <p>{{ detailAnnouncement }}</p>
  </div>
</shared-modal>