// .carousel-control-prev-icon{
//     background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
//  }
//  .carousel-control-next-icon{
//    background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
//  }





@media (min-width: 768px) and (max-width: 1024px) {
  
    //CSS

.jumbotron {
    
    background-size: cover!important;
    height: 30vh;
    //margin-top: -10px;
  }
    
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
.jumbotron {
    
    background-size: cover!important;
    height: 100vh;
    //margin-top: -10px;
  }
    
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .jumbotron {

    background-size: cover!important;
    height: 20vh;
    //margin-top: -10px;
  }
   
  }


  @media (min-width: 320px) and (max-width: 480px) {
  
    //CSS
    .jumbotron {

        background-size: cover!important;
        height: 20vh;
        //width: 10vw;
        margin-top: 8px;
      }
    
    
  }
  
  
  