<div style="width:80%;margin: 0 auto;" class="jumbotron jumbotron-fluid">
  <div class="container">
  </div>
</div>

<br>

<div style="width:80%;margin: 0 auto;" *ngIf="announcements?.length > 0">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let announcement of announcements">
      <div class="announcementBody">
        <div class="carousel-caption">
          <fa-icon class="pr-3" [icon]="faBullhorn"></fa-icon>
          <p class="mb-1">
            {{ announcement.title.substr(0, 90)}}<span *ngIf="announcement.title.length > 90">...</span>
          </p>
          <button *ngIf="announcement.title.length > 90" (click)="viewAnnouncement(announcement.title)"
            class="btn btn-sm text-white btn-info">View More</button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="container-fluid mt-4">

  <div style="width:80%; height: 80%; margin: 0 auto;" class="row" *ngIf="carouselSlides?.length > 0">
    <div class="col-md-12">
      <ngb-carousel *ngIf="carouselSlides?.length != 0">
        <ng-template ngbSlide *ngFor="let slide of carouselSlides">
          <img class="img-fluid" style="width:100%;" [src]="slide.URL" alt="Random first slide" />
          <div class="carousel-caption">
            <h3>{{ slide.headerText }}</h3>
            <p>{{ slide.bodyText }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div style="width:80%;margin: 0 auto;" *ngIf="products?.length == 0">
    <!-- <div class="col-md-12"> -->
      <!-- Carousel slides can be managed in the seller application -->
      <ngb-carousel *ngIf="buyer?.xp?.carouselSlides?.length != 0">
        <ng-template ngbSlide *ngFor="let slide of buyer.xp.carouselSlides">
          <img class="img-fluid" style="width:100%;" [src]="slide.URL" alt="Random first slide" />
          <div class="carousel-caption">
            <h3>{{ slide.headerText }}</h3>
            <p>{{ slide.bodyText }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    <!-- </div> -->
  </div>

  <br />
  <div style="width:80%;margin: 0 auto;" class="bg-white p-5">
    <div class="row mt-2">
      <div class="col-md-12 col-sm-12">
        <div>
          <h4 class="text-primary">
            Welcome to the Maid Service Portal.
          </h4>
         
          <p>
            Please confirm your phone number and address are updated and accurate to ensure proper Service.
          </p>
          
          <p>
            If you are searching for a Maid aka "Bai" then you are at the right place! We have made it easy to hire a full time or part time maid in your 
            city!</p>
            <h4 class="text-primary">
              Why us?
            </h4>
 
<p>We provide an on-demand hour- based housekeeping service which includes dusting , mopping the floors, cleaning, washing clothes & sanitizing your bathrooms.</p>
<ul>
  <li><b>Home Cleaning</b></li>
  <p>This is the most basic & tedious work on your list – daily Cleaning! Our maids will take over your home & make it cleaner than ever everyday!</p>       

  <li><b>Kitchen Cleaning</b></li>
  <p>Our maid will mop your kitchen floor, wipe the slabs and clean cabinets outside & inside which  will bring back the shine in your kitchen. Moreover, she can even cook the food for you!</p>

  <li><b>Toilet Cleaning</b></li>
  <p>Our maids will sanitize your bathroom making it a germ-free place so that nothing bothers you at the end of the day!</p>

  <li><b>Dusting</b></li>
  <p>We will wipe off all the dust of your home- we don’t just wipe the dust-we remove it completely!</p>

  <li><b>Sweeping & Mopping</b></li>
  <p>Right and Left,Up and Down, we sweep and mop all-around your house for a dirt & germ free hygienic environment .</p>
</ul>
</div>
      </div>
    </div>
  </div>


<shared-modal id="announcementModal"
              modalTitle="Announcement">
  <div>
    <p>{{ detailAnnouncement }}</p>
  </div>
</shared-modal>