<div class="card mb-5 w-100 border-hover">
  <img class="card-img-top img-fluid flex-shrink-0" [routerLink]="['/maids', maid.id]" style="cursor: pointer"
    appFallbackImage
    src="{{ maid?.imgUrl ? maid?.imgUrl : 'https://via.placeholder.com/500x500.png?text=Maid%20Photo%20Not%20Found' }}"
    alt="{{maid.id}}">
  <!-- <div *ngIf="IsCheck"> -->
  <div class="card-body d-flex flex-column justify-content-between bg-light">
    <div>
      <h5 class="card-title" [routerLink]="['/maids', maid.id]" style="cursor: pointer">
        {{ maid.firstName }} {{maid.lastName}}</h5>
      <p class="card-text text-muted">Maid Id : {{maid.id}}</p>
    </div>
    <div>
      <p class="card-text text-muted" style="margin-bottom: 0rem;" *ngIf="maid?.email">
        Email : {{maid?.email}}</p>
      <p class="card-text text-muted" style="margin-bottom: 0rem;" *ngIf="maid?.phone">
        Contact : {{maid?.phone}}</p>
      <p class="card-text text-muted" style="margin-bottom: 0rem;" *ngIf="maid?.gender">
        Gender: {{maid?.gender}}</p>

      <p class="card-text text-muted" style="margin-bottom: 0rem;">
        Expected Salary : {{maid?.salary}}
      </p>
      <p class="card-text text-muted" style="margin-bottom: 0rem;" *ngIf="maid?.dateCreated">
        With Us Since: {{maid?.dateCreated | date: 'dd/MM/yyyy' }}
      </p>
      <p class="card-text text-muted" style="margin-bottom: 0rem;" *ngIf="maid?.maritalStatus">
        Marital Status: {{maid?.maritalStatus}}</p>
    </div>
  </div>
  <div class="card-footer">
    <div class="card  w-100 border-hover">
      <button [routerLink]="['/maids', maid.id]" class="btn btn-default btn-block btn-outline-dark">View
      </button>

    </div>
  </div>
</div>
