<footer class="py-1 bg-primary text-center mt-3">
  <div class="container">
    <!-- Main -->
    <div class="row mt-3">
      <!-- <div class="col-md-3 col-sm-12 col-lg-3 flex-column">
          
            <h3 class="h5">Resources</h3>
            <ul class="footer__list-items">
              <li>
                <a href="https://www.zukes.com/privacy-policy/" target="_blank" class="mr-1 ">
                  <fa-icon class="mr-1 d-md-none" [icon]="faFileAlt"></fa-icon>
                  privacy Policy
                </a>
              </li> 
              <li>
                <a routerLink="/faq" class="mr-1 " class="">
                  <fa-icon class="mr-1" [icon]="faQuestionCircle"></fa-icon>
               FAQ
                </a>
              </li>
              <li>
                <a routerLink="/contact-us"  class="">
                  <fa-icon class="mr-1" [icon]="faEnvelope"></fa-icon>
                  <small>Contact Us</small>
                </a>
                </li>
            </ul>
    </div> -->
      <div class="col text-center">
        <!-- <h3 class="h5 ">{{'APP.Footer.customerServiceLabel' | translate}}</h3> -->
        <ul class="footer__list-items">
          <!-- <li>
            <span class=""><small>{{'APP.Footer.contactLabel' | translate}}</small></span>
          </li> -->
          <li>
            <span class=""> <a class="btn-link text-white"
                 target="_blank"
                 href="/terms-and-conditions"> <u> Terms and Conditions </u> </a>|<a class="btn-link text-white"
                 href="privacy-policy"
                 target="_blank"> <u> Privacy Policy </u></a></span>
          </li>
          <li class="text-white">
            <small class="">Copyright © {{currentDate|date: "yyyy"}}, CDAC Project Group 28. All rights reserved.</small><br />
            <small class=""> MaidPortal &reg; Online Catalog </small><br />
            <small class=""> Version - 1.0.0.05152019</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>