<footer class="py-1 bg-primary text-center mt-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col text-center">
        <ul class="footer__list-items">
          <li>
            <span class=""> <a class="btn-link text-white"
                 target="_blank"
                 href="/terms-and-conditions"> <u> Terms and Conditions </u> </a>|<a class="btn-link text-white"
                 href="privacy-policy"
                 target="_blank"> <u> Privacy Policy </u></a></span>
          </li>
          <li class="text-white">
            <small class="">Copyright © {{currentDate|date: "yyyy"}}, CDAC Project Group 28. All rights reserved.</small><br />
            <small class=""> MaidPortal &reg; Online Catalog </small><br />
            <small class=""> Version - 1.0.0.05152019</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>