<div class="container__login text-center">
  <p class="text-white">New to this site?
    <button type="button" class="btn btn-success" routerLink="/register">Register now</button>
  </p>
  <div class="card card--login align-items-center shadow px-5 p-5">
    <img class="img-fluid" width="90" height="90px" src="/assets/logo.png" alt="{{appConfig.appname}}">
    <br>
    <span>
      <b>Welcome to Maid Portal</b>
    </span>
    <br>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" name="LoginForm" autocomplete="off" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" id="email" type="text" class="form-control" placeholder="Email Address"
          autocapitalize="off" autofocus />
      </div>
      <!-- <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" id="username" type="text" class="form-control" placeholder="Username"
          autocapitalize="off" autofocus />
      </div> -->
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" placeholder="Password" id="password" />
      </div>

      <div class="form-group">
        <div>
          <label for="userTypes">User Type</label>
          <select class="form-control" formControlName="userType" id="userTypes">
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let ut of userTypes" [value]="ut.id">{{ut.value}}</option>
          </select>
        </div>
      </div>


      <button id="submitBtn" type="submit" [disabled]="!form.valid"
        class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>
    <button type="button" class="btn btn-link btn-block text-center" routerLink="/forgot-password">Reset Password
    </button>
