
<div class="text-center mt-3">
       <p>Already have an account? <button type="button"
                 class="btn btn-link"
                 routerLink="/login">Login</button></p>
       <h1 class="display-4">{{appConfig.appname}}</h1>
     </div>
     <div class="row">
       <div class="col-lg-6 mx-auto"
            style="max-width:400px">
         <h3 class="text-center headline-text mb-3">Sign Up</h3>
         <form (ngSubmit)="onSubmit()"
               novalidate
               [formGroup]="form"
               name="RegisterForm">
           <div class="form-group">
             <label 
                    for="userName">Username</label>
             <input type="text"
                    formControlName="userName"
                    class="form-control"
                    id="userName"
                    placeholder="userName"
                    autofocus="true"
                    autocomplete="off" />
             <span *ngIf="hasRequiredError('userName')"
                   class="error-message">Username is required</span>
           </div>
           <div class="form-group">
             <label 
                    for="firstName">First Name</label>
             <input type="text"
                    formControlName="firstName"
                    class="form-control"
                    id="firstName"
                    placeholder="First Name"
                    autocomplete="off" />
             <span *ngIf="hasRequiredError('firstName')"
                   class="error-message">First Name is required</span>
             <span *ngIf="hasPatternError('firstName')"
                   class="error-message">Name can only contain characters Aa-Zz 0-9 - ' .</span>
           </div>
           <div class="form-group">
             <label 
                    for="lastName">Last Name</label>
             <input type="text"
                    formControlName="lastName"
                    class="form-control"
                    id="lastName"
                    placeholder="Last Name"
                    autocomplete="off" />
             <span *ngIf="hasRequiredError('lastName')"
                   class="error-message">Last Name is required</span>
             <span *ngIf="hasPatternError('lastName')"
                   class="error-message">Name can only contain characters Aa-Zz 0-9 - ' .</span>
           </div>

           <div class="form-group">
              <div>
                <label 
                      for="gender">Gender</label>
                <select class="form-control" 
                formControlName="gender" 
                id="userTypes">
                <option value="" disabled selected>Select your option</option>
                  <option value="MALE" selected>Male</option>
                  <option value="FEMALE">Female</option>
                  <option value="OTHER">Other</option>
                </select>
                <span *ngIf="hasRequiredError('gender')"
                   class="error-message">Gender is required</span>
              </div>
              </div>

              <div class="form-group">
                     <div>
                       <label 
                             for="maritalStatus">Maritual Status</label>
                       <select class="form-control" 
                       formControlName="maritalStatus" 
                       id="maritalStatus">
                       <option value="" disabled selected>Select your option</option>
                         <option value="SINGLE" selected>Single</option>
                         <option value="MARRIED">Married</option>
                         <option value="WIDOWED">Widowed</option>
       
                       </select>
                       <span *ngIf="hasRequiredError('maritalStatus')"
                       class="error-message">Maritual Status is required</span>
                     </div>
                     </div>


           <div class="form-group">
             <label
                    for="email">Email</label>
             <input type="email"
                    formControlName="email"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                    autocomplete="off" />
             <span *ngIf="hasEmailError()"
                   class="error-message">Please enter a valid email</span>
           </div>
           <div class="form-group">
             <label 
                    for="phone">Phone Number</label>
             <input type="text"
                    formControlName="phone"
                    class="form-control"
                    id="phone"
                    placeholder="Phone Number"
                    autocomplete="off" />
             <span *ngIf="hasPatternError('phone')"
                   class="error-message">Phone can only contain 20 numbers or "-" chars (no spaces)</span>
           </div>
           <div class="form-group">
             <label 
                    for="password">Password</label>
             <input type="password"
                    formControlName="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    autocomplete="off" />
             <span *ngIf="hasRequiredError('password')"
                   class="error-message">Password is required</span>
           </div>
           <div class="form-group">
             <label 
                    for="confirmPassword">Confirm Password</label>
             <input type="password"
                    formControlName="confirmPassword"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="Confirm Password"
                    autocomplete="off" />
             <span *ngIf="hasRequiredError('confirmPassword')"
                   class="error-message">Confirm is required</span>
             <span *ngIf="passwordMismatchError()"
                   class="error-message">Passwords must match</span>
           </div>

           <div class="form-group">
              <div>
                <label 
                      for="userTypes">User Type</label>
                <select class="form-control" 
                formControlName="userType" 
                id="userTypes">
                <option value="" disabled selected>Select your option</option>
                  <option *ngFor="let ut of userTypes" 
                  [value]="ut.id">{{ut.value}}</option>
                </select>
              </div>
              </div>

              <div class="form-group">
                     <label for="Address">Enter your Address</label>
                    
                     <input type="text"
                                   formControlName="buildingName"
                                   class="form-control"
                                   id="buildingName"
                                   placeholder="building Name"
                                   autofocus="true"
                                   autocomplete="off" />
                     <input type="text"
                                   formControlName="street"
                                   class="form-control"
                                   id="street"
                                   placeholder="street"
                                   autofocus="true"
                                   autocomplete="off" />
                     <input type="text"
                                   formControlName="city"
                                   class="form-control"
                                   id="city"
                                   placeholder="city"
                                   autofocus="true"
                                   autocomplete="off" />
                     <input type="text"
                                   formControlName="pin"
                                   class="form-control"
                                   id="pin"
                                   placeholder="pin"
                                   autofocus="true"
                                   autocomplete="off" />
                     <input type="text"
                                   formControlName="state"
                                   class="form-control"
                                   id="state"
                                   placeholder="state"
                                   autofocus="true"
                                   autocomplete="off" />
                     <input type="text"
                                   formControlName="country"
                                   class="form-control"
                                   id="country"
                                   placeholder="country"
                                   autofocus="true"
                                   autocomplete="off" />




                     
              </div>



           <button type="submit"
                   class="btn btn-primary btn-lg btn-block mt-4">Register
           </button>
         </form>
         <button type="button"
                 class="btn btn-link btn-block"
                 routerLink="/forgot-password">Forgot
           Password
         </button>
       </div>
     </div>
     