<article class="container">
    <div class="pb-4  mb-3 border-bottom">
      <h2>Privacy Policy</h2>
    </div>
    <div class="text-justify">
      <p>MaidPortal, one of the most respected names in Marketing and Merchandising Execution, respects the privacy of clients and their customers, employees and partners. Any or all information collected on their behalf is held with the utmost care to ensure they receive the services they requested.</p>
      <p>It is the policy and practice of MaidPortal to maintain the confidentiality of the information it collects and to protect the privacy of its clients and their customers, employees and partners and to comply with all applicable laws and regulations.
      </p>
      <p>
        The information provided by clients, their customers, employees or partners will be used solely for the purpose for which it is collected which may include transfer to the MaidPortal client or that client's designated third party in order to fulfill the individual's service request, but will not otherwise be sold, transferred or traded by MaidPortal to any third party unless directed to do so to satisfy a legal requirement.
      </p>
      <p>MaidPortal takes appropriate measures to protect the security of personal information from loss, misuse, unauthorized access or disclosure, alteration or destruction through use of industry standard processes and technologies according to the choices and policies of our clients.</p>
  <p>Online data is protected from unauthorized access through use of Firewalls and security processes for authentication and authorization.
  </p>
  <P>If sensitive information such as credit card data is involved, MaidPortal recommends use of SSL (secure socket layer) to encrypt data and prevent plain text viewing.
  </P>
  <p>MaidPortal also applies physical security measures to safeguard data from unauthorized access, use or disclosure by maintaining such data in maximum security areas accessible only by authorized personnel. MaidPortal's processes are ISO certified for strict adherence to quality standards.</p>
  <p>MaidPortal uses information collected from our clients' customers, partners or employees to process or fulfill a request or an order and to provide notification of status.
  </p>
  <p>We encourage our clients to use data responsibly. However, MaidPortal does not control our clients' use of data; please refer to individual clients for their privacy statements and policies. We are not responsible for the privacy policies of our clients or their partners.</p>
  <p>MaidPortal reserves the right to modify or supplement this policy at any time.
  </p>
  <p>We welcome your comments and questions about privacy.</p>
  
    </div>
  </article>