<article class="container">
    <div class="pb-4  mb-3 border-bottom">
      <h2>CONDITION OF USE</h2>
    </div>
    <div class="text-justify">
      <ol type="1">
        <li class="mt-4"> BY ENTERING THIS SITE YOU ACKNOWLEDGE AND AGREE TO ALL TERMS AND CONDITIONS STATED HEREIN. IF
          YOU DO NOT AGREE TO THESE TERMS, DO NOT USE THIS SITE</li>
        <li class="mt-4"> BY ENTERING THIS SITE YOU ACKNOWLEDGE AND AGREE THAT THIS SITE IS INTENDED FOR VIEWING WITHIN
          THE UNITED STATES ONLY AND WILL ONLY BE CONSTRUED AND EVALUATED ACCORDING TO UNITED STATES LAW. IF YOU USE THIS
          SITE FROM OTHER LOCATIONS YOU ARE RESPONSIBLE FOR COMPLIANCE WITH ANY AND ALL APPLICABLE LOCAL LAWS. MaidPortal
          MAKES NO REPRESENTATIONS THAT THE MATERIALS CONTAINED WITHIN THIS SITE ARE APPROPRIATE FOR LOCATIONS OUTSIDE THE
          UNITED STATES.</li>
        <li class="mt-4"> MaidPortal is the copyright owner of everything on this site and no portion of this site, including
          but not limited to the text, images, audio or video, may be used in any manner, or for any purpose, without
          MaidPortal express written permission, except as provided for herein. Without in any way waiving any of the
          foregoing rights, you may view and print one copy of the material on this site for your local use, provided you
          do not delete or change any copyright, trademark or other proprietary notices, and provided further that you do
          not reproduce or duplicate any of the material. Modification or use of the material on this site for any other
          purpose violates MaidPortal legal rights. Except for copies printed for local use, and not for resale, no part of
          this information may be reproduced, stored in a retrieval system, or transmitted without the prior written
          permission of MaidPortal.</li>
        <li class="mt-4">By entering this site you acknowledge and agree that your use is at your own risk and that none
          of the parties involved in creating, producing, or delivering this site is liable for any direct, incidental,
          consequential, indirect, or punitive damages, or any other losses, costs, or expenses or any kind (including
          legal fees, expert fees, or other disbursements) which may arise, directly or indirectly, through the access to,
          use of, or browsing of this site or through your downloading of any materials, data, text, images, video or
          audio from this site, including but not limited to anything caused by any viruses, bugs, human action or
          inaction or any computer system, phone line, hardware, software or program malfunctions, or any other errors,
          failures or delays in computer transmissions or network connections.</li>
  
        <li class="mt-4">Although the specifications, features, illustrations, products and other information contained in
          the site are based upon up-to-date information, and while MaidPortal makes all reasonable efforts to insure that all
          material, information and graphics on this site is correct, accuracy cannot be guaranteed and MaidPortal makes no
          warranties or representations as to its accuracy. This site, and all information and materials contained herein,
          is provided to you "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED
          TO, THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT</li>
  
        <li class="mt-4">This web site can be accessed through links on world wide web sites. MaidPortal does not have
          responsibility for the content, availability, operation or performance of other web sites, from which this web
          site may be accessed.</li>
  
        <li class="mt-4">Do not post on this site, or transmit to this site, any pornographic, obscene, profane,
          defamatory, libelous, threatening, unlawful or other material which could constitute or encourage conduct that
          would be considered a criminal offense, give rise to civil liability, or otherwise violate any law or
          regulation. Notwithstanding the fact that MaidPortal or other parties involved in creating, producing, or delivering
          this site, may monitor or review transmissions, MaidPortal and all parties involved in creating, producing, or
          delivering this site, assume no responsibility or liability which may arise from the content thereof, including
          but not limited to claims for defamation, libel, slander, obscenity, pornography, profanity, or
          misrepresentation.</li>
  
        <li class="mt-4">By entering this site you acknowledge and agree that any communication or material you transmit
          to this site or MaidPortal, in any manner and for any reason, will not be treated as confidential or proprietary.
          Furthermore, you acknowledge and agree that MaidPortal may use any ideas, concepts, techniques, procedures, methods,
          systems, designs, plans, charts, or other materials you transmit to MaidPortal anywhere, anytime, and for any reason
          whatsoever</li>
  
        <li class="mt-4">By entering this site you acknowledge and agree that any name, logo, trademark, or service mark
          contained on this Site is owned or licensed by MaidPortal and may not be used by you without prior written approval.
          MaidPortal will aggressively enforce its intellectual property rights to the full extent of the law. Sound,
          graphics, charts, information, or images of places or people are either property of MaidPortal or used on this site
          with permission. Your use of any of these materials is prohibited unless specifically provided for on the site.
          Any unauthorized use of these materials may subject you to penalties or damages, including but not limited to
          those related to violation of trademarks, copyrights, privacy, and publicity rights</li>
  
        <li class="mt-4"> Although this site can be accessed from other sites, MaidPortal is not, directly or indirectly,
          implying any approval, association, sponsorship, endorsement, or affiliation with the linked site, unless
          specifically stated therein. By entering this site you acknowledge and agree that MaidPortal has not reviewed all
          the sites linked to this site and is not responsible for the content of any off-site pages or any other site
          linked to this site. Your linking to any other off-site pages or other sites is at your own risk.</li>
  
        <li class="mt-4"> MaidPortal reserves the right to revise this Conditions of Use at any time and for any reason and
          reserves the right to make changes at any time, without notice or obligation, to any of the information
          contained on this site, including but not limited to materials or other product or service features. By entering
          this site you acknowledge and agree that you shall be bound by any such revisions. We suggest periodically
          visiting this page of the site to review these conditions of use.</li>
  
        <li class="mt-4"> You are responsible for maintaining the confidentiality of the Username and Password, and you
          are fully responsible for all activities that occur under your Username or Password.</li>
  
        <li class="mt-4"> The requesting URLs the machine originating the request and the time of the request are logged
          for access statistics and security purposes. Use of this web site constitutes consent to such monitoring. This
          web site may be unavailable from time to time due to mechanical, telecommunication, software, hardware and third
          party vendor failures. MaidPortal cannot predict or control when such downtime may occur and cannot control the
          duration of such downtime.</li>
  
        <li class="mt-4"> IN NO EVENT WILL MaidPortal BE LIABLE FOR DAMAGES OF ANY KIND, INCLUDING WITHOUT LIMITATION ANY
          SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES EVEN IF MaidPortal HAS BEEN ADVISED OF THE POSSIBILITY OF
          SUCH DAMAGES.</li>
      </ol>
      <p>WARNING NOTICE: You are about to enter a Private website that is restricted to authorized use by MaidPortal, Inc and their authorized agents ("the Company") for business purposes only. The actual or attempted unauthorized access, use or modification of this website or its contents is strictly prohibited by the Company. Unauthorized users and/or unauthorized use are subject to criminal and/or civil penalties in accordance with applicable domestic and foreign laws. The use of this website may be monitored and recorded for administrative and security reasons. If such monitoring and/or recording reveals possible evidence of criminal activity, the Company may provide the monitored evidence of such activity to law enforcement officials.
      </p>
      <p>Access to this website from an un-trusted workstation, including, but not limited to, cyber cafes and public kiosks, is prohibited.</p>
    </div>
  </article>